<div class="flex flex-wrap">
  <cui-button
    *ngFor="let color of colors"
    [color]="color"
    outline
  >
  my button
</cui-button>
</div>
<!-- <div class="flex flex-wrap">
  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        [color]="color"
      >
        my button
      </cui-button>
  </div>

  <div class="flex flex-col">
    <cui-button
      *ngFor="let color of colors"
      [color]="color"
      disabled
    >
      my button
    </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        pill
      >
        my button
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        pill
        disabled
      >
        my button
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        outline
      >
        my button
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        outline
        disabled
      >
        my button
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        pill
        outline
      >
        my button
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        outline
        pill
        disabled
      >
        my button
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        circle
        outline
      >
        A
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        outline
        circle
        disabled
      >
        B
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        square
        outline
      >
        A
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        outline
        square
        disabled
      >
        B
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        circle
      >
        A
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        circle
        disabled
      >
        B
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        square
      >
        A
      </cui-button>
  </div>

  <div class="flex flex-col">
      <cui-button
        *ngFor="let color of colors"
        class="flex flex-col"
        [color]="color"
        square
        disabled
      >
        B
      </cui-button>
  </div>
</div> -->